@{
    //sets the title of the page
    ViewBag.Title = "Movie entry of '" + Model.Author + "' is pending.";
}

@model JoelHilton_Elijah_McKay.Models.MovieResponse

@*Checks to make sure that the movie title is not Independence day and reacts accordingly.*@
<div>
    <h2>Status:</h2>
    @if (Model.Author == "Independence Day")
    {
        @:Your movie input is invalid.
    }
    else
    {
        @:Your movie input has been recorded.
    }

</div>

@*Gives a link to the movie list page*@
<div>
    <br /><br />
    Click <a asp-action="MovieList">here</a> to see the movie list.
</div>