@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie entry of '" + Model.Title + "' is pending.";
}

@model JoelHilton_Elijah_McKay.Models.MovieResponse

<div>
    <h2>Status:</h2>
    @if (Model.Title == "Independence Day")
    {
        @:Your movie input is invalid.
    }
    else
    {
        @:Your movie input has been recorded.
    }

</div>

<div>
    Click <a asp-action="MovieList">here</a> to see the movie list.
</div>