@{
    //sets the title for the page
    ViewBag.Title = "Enter in a new movie:";
}

@model JoelHilton_Elijah_McKay.Models.MovieResponse

@*form for the move data entry*@
<form asp-action="movieData" method="post">
    <div>
        <label asp-for="Quote">*Qutoe:</label>
        <input asp-for="Quote" />
    </div>
    <div>
        <label asp-for="Author">*Author:</label>
        <input asp-for="Author" />
    </div>
    <div>
        <label asp-for="Date">*date:</label>
        <input asp-for="Date" />
    </div>
    <div>
        <label asp-for="Subject">*Subject:</label>
        <input asp-for="Subject" />
    </div>
    <div>
        <label asp-for="Citation">*Citation:</label>
        <input asp-for="Citation" />
    </div>
   

    @*submit button and an explanation of the **@
    <button type="submit">Submit your movie</button>
    <p>* - Indicates a required field. If you do not fill out all required fields, your request will be denied and you will be redirected to this page.</p>
    <div asp-validation-summary="All"></div>
</form>