@{
    ViewBag.Title = "Podcasts for one and all!";
}
@*This is the podcast page with the link to the other site*@
<body>
    <h2>Here is a link to your favorite podcasts!</h2>
    <a href=" https://baconsale.com/">Click Here</a>
</body>
